@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6FCDF;
  --foreground: #1A1A19;
  --highlight: #31511E;
  --accent: #859F3D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A19;
    --foreground: #F6FCDF;
    --accent: #31511E;
    --highlight: #859F3D;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans)
}
