@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #111111;
  --accent: #58bce4;
  --highlight: #6cbd3d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #eeeeee;
    --accent: #6dd6ff;
    --highlight: #76d340;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans)
}
